<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infrastructure as Code</title>
</head>
<body>
    <h1 align="center">Infrastructure as Code</h1>
    <br />
    <div align="center">
      <h1>
        Infrastructure Automation on
        <img align="center" src="https://upload.wikimedia.org/wikipedia/commons/9/93/Amazon_Web_Services_Logo.svg" alt="AWS Logo" width="100"/> with 
        <br /> 
        <img align="center" src="https://upload.wikimedia.org/wikipedia/commons/2/24/Ansible_logo.svg" alt="Ansible Logo" width="100"/>
        and
        <img align="center" src="https://www.vectorlogo.zone/logos/terraformio/terraformio-ar21.svg" alt="Terraform Logo" width="200"/>
      </h1>
      <br />
      <h2>Control Server</h2>
    </div>
</body>
</html>
